.navbar {
  background-color: black;
  position: fixed;
  top: 0%;
  width:100%;
  right: 0px;
  z-index: 1;
}
.nav-item > a {
  color: #999;
}
.navbar-brand {
  color: #fff;
}
.messages {
  width: 300px;
}
.media {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}

.searchbar{
  position: relative;
}

.logo{
  height: 70px;
  width: 140px;
  margin-top: -10px;
}

i{
  font-size: 20px;
}

b{
  margin-top: -5px; 
}

