<nav class="navbar" style="height: 85px;">
        <div class="row">
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-2" align="center">
                        <a class="navbar-brand" href="#"><img src="/assets/images/logo.png" class="logo"/></a>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-2" style="margin-top: 15px">
                        <form class="form-inline searchbar">
                            <input class="form-control mr-sm-2" style="margin-top: 10px" type="text" placeholder="{{'Search...'}}" >
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-2" align="right" style="margin-top: 30px">
                        <div class="nav-item dropdown" ngbDropdown>
                            <a href="" class="nav-link" ngbDropdownToggle>
                                <i class="fa fa-envelope"></i>&nbsp; <b class="caret"></b> <span class="sr-only">(current)</span>
                            </a>
    
                            <!-- <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                                    <li class="media" aria-disabled="true" >
                                    Messages
                                </li>
                            </ul> -->
                        </div>
                    </div>
                    &nbsp;
                    
                    <div class="col-sm-2" align="center" style="margin-top: 30px">
                        <div class="nav-item dropdown" ngbDropdown>
                            <a href="" class="nav-link" ngbDropdownToggle>
                                <i class="fa fa-bell"></i>&nbsp; <b class="caret"></b><span class="sr-only">(current)</span>
                            </a>
                            <!-- <div class="dropdown-menu-right" ngbDropdownMenu>
                                Notifications
                            </div> -->
                        </div>
                    </div>
                    &nbsp;
              
                    <div class="col-sm-3" align="left" style="margin-top: 30px">
                        <div class="nav-item dropdown" ngbDropdown>
                            <a href="" class="nav-link" ngbDropdownToggle>
                                <i class="glyphicon glyphicon-user"></i>&nbsp; <font size="4px"> Rishabh Tandon </font>&nbsp; <b class="caret"></b>
                            </a>
                            <!-- <div class="dropdown-menu-right" ngbDropdownMenu>
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-fw fa-user"></i> {{ 'Profile' }}
                                </a>
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' }}
                                </a>
                                <a class="dropdown-item" href="">
                                    <i class="fa fa-fw fa-gear"></i> {{ 'Settings' }}
                                </a>
                                <a class="dropdown-item" >
                                    <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                                </a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>