.wallpic{
    height: 400px;
    width: 100%;
}

.profilepic{
    margin-top: -70px;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-left: 45px;
}

.textarea{
    width: 100%;
}

.pf{
    z-index: 0;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    border-color: black;
    margin-left: 20px;
}

.status{
    height: 50px;
    width: 100%;
}

.button{
    height: 40px;
    width: 100%;
}