<div class="login-page panel-body" align="right">
    <div class="singInContainer" align="right">
      <div align="center" style="margin-bottom: 0px;">
          <img src="./assets/images/logo.png" width="200px" height="100px">
      </div>
      <h2 style="text-align:center;color: white; margin-bottom: 25px;">Forgot Password</h2>
      <form #ForgetForm="ngForm" (ngSubmit)="onClick()">
          <div class="form-group" align="center" [hidden]="!errorAction" >
            <div id="message" class="errorMessageDiv" align="center" style="margin-bottom:8px;">{{_error}}</div>
          </div>
          <div class="form-group" align="center" [hidden]="!successAction">
              <div id="message" class="successMessageDiv" align="center" style="margin-bottom:8px;">{{_message}}</div>
          </div>
        <div class="form-group" align="center">
          <input type="text" class="inputField form-control" name="emailID" [(ngModel)]="emailID" id="emailID" #emailIDValid="ngModel" pattern="^[A-z0-9._%+-]+@[A-z0-9.-]+\.[A-z]{2,6}$" [ngModelOptions]="{updateOn: 'change'}" placeholder="{{'Email Address'}}" (input)="checkEmail($event)" required>
          <div id="message" class="errorMessageDiv" [hidden]="emailIDValid.valid || emailIDValid.pristine">Invalid Email Address</div>
        </div>
        <div class="form-group" align="center">
          <input type="text" class="inputField form-control" name="firstSecurityAnswer" [(ngModel)]="firstSecurityAnswer" id="firstSecurityAnswer" #firstSecurityAnswerValid="ngModel" pattern="[A-z\s._-]+" [ngModelOptions]="{updateOn: 'change'}" placeholder="{{'What is your first pet name?'}}"
              required>
          <div id="message" class="errorMessageDiv" [hidden]="firstSecurityAnswerValid.valid || firstSecurityAnswerValid.pristine">Invalid Security Answer</div>
        </div>
        <div class="form-group" align="center">
            <input type="text" class="inputField form-control" name="secondSecurityAnswer" [(ngModel)]="secondSecurityAnswer" id="secondSecurityAnswer" #secondSecurityAnswerValid="ngModel" pattern="[A-z\s._-]+" [ngModelOptions]="{updateOn: 'change'}" placeholder="{{'What is your favourite food?'}}"
                required>
            <div id="message" class="errorMessageDiv" [hidden]="secondSecurityAnswerValid.valid || secondSecurityAnswerValid.pristine">Invalid Security Answer</div>
        </div>
        <div class="form-group" align="center">
          <input type="password" class="inputField form-control" name="password" [(ngModel)]="password" id="password" #passwordValid="ngModel" pattern="[A-z][A-z0-9-_.]{7,}" [ngModelOptions]="{updateOn: 'change'}" placeholder="{{'Password'}}" required>
          <div id="message" class="errorMessageDiv" [hidden]="passwordValid.valid || passwordValid.pristine">Invalid Password</div>
        </div>
        <div class="form-group" align="center">
            <input type="password" class="inputField form-control" name="confirmPassword" [(ngModel)]="confirmPassword" id="confirmPassword" #confirmPasswordValid="ngModel" pattern="[A-z][A-z0-9-_.]{7,}" [ngModelOptions]="{updateOn: 'change'}" placeholder="{{'Confirm Password'}}"
                required>
            <div id="message" class="errorMessageDiv" [hidden]="confirmPasswordValid.valid || confirmPasswordValid.pristine">Invalid Password</div>
        </div>
        <div class="form-group" align="center" [hidden]="successAction" >
          <button class="btn btn-success" style="width:225px;" type="submit" value="Change Password" id="submitButton" [disabled]="!ForgetForm.form.valid && !_idExists">Change Password!</button>
        </div>
        <div class="form-group" align="center" [hidden]="!successAction" >
            <a class="btn btn-link" [routerLink]="['/index/signin']" style="font-size: 20px;"><span class="glyphicon glyphicon-menu-left"></span>Back</a>
        </div>
      </form>
    </div>
  </div>
